*{margin: 0; padding: 0; box-sizing: border-box;}

/* Header con logo */
header{
    width: 100%;
    height: 80px;
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
}
header img{
    height: 60px;
}

/* main */
main{
    max-width: 80%;
    margin: 0 auto;
}

/* Product-box */
.product-box{
    width: calc(100% / 3);
    display: inline-block;
    padding: 0px 5px;
}

.product-img{
    overflow: hidden;
}
.product-img img{
    width: 100%;
}

/* Product labels - Texts */


