*{margin: 0; padding: 0; box-sizing: border-box;}

/* Header con logo */
header{
    width: 100%;
    height: 80px;
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
}
header img{
    height: 60px;
}

/* main */
main{
    max-width: 80%;
    margin: 30px auto;
}

/* Product-box */
.product-box{
    width: calc(100% / 3);
    display: inline-block;
    padding: 0px 5px;
    margin-bottom: 15px;
}

.product-img img{
    width: 100%;
}

/* Product labels - Texts */
.product-labels{
    margin-top: 3px;
}
.product-labels h4{
    font-size: 13pt;
    font-weight: lighter;
}

.product-labels h2{
    text-transform: uppercase;
}

.product-labels > p:first-of-type{
    color: red;
    display: inline;
    font-weight: bolder;
}
.product-labels > p:last-of-type{
    display: inline;
    text-decoration: line-through;
    margin-left: 5px;
}

